<div class="content" *ngIf="(frame$ | async) as frame">
  <div class="shortcuts-bar" *ngIf="(shortcuts$ | async) as shortcuts">
    <div class="shortcut" *ngFor="let shortcut of shortcuts" (click)="shortcut.onClick()" [title]="shortcut.title"
      [ngClass]="{'bg-secondary': shortcut.isActive(frame)}">
      <img *ngIf="shortcut.type == 'img'" [src]="shortcut.src" [alt]="shortcut.alt">
      {{shortcut.text}}
    </div>
    <span *ngIf="(hostGameInfo$ | async) as hostGame">
      <button class="btn-inverse invite" (click)="onInviteClick(hostGame)"
        [disabled]="hostGame.players.length == hostGame.maxPlayerCount" e2e-id="btnShowInviteLink">
        <i class="material-icons">add</i>
        Invite ({{hostGame.maxPlayerCount - hostGame.players.length}} left)
      </button>
      <button class="stop-game" (click)="onStopGameClick(hostGame)" [disabled]="hostGame.pausedTime != null"
        e2e-id="btnStopGame">
        <i class="material-icons">stop</i>
        Stop game
      </button>
    </span>
  </div>
  <div class="main">
    <div class="nav-bar" *ngIf="(gameInfo$ | async) as game">
      <i class="material-icons" (click)="switchFrame({ type: 'chat', docId: game.mainChat._id })"
        [class]="{'color-accent-darker': frame.type == 'chat'}" e2e-id="btnSwitchToChatFrame">
        chat
      </i>
      <i class="material-icons" (click)="switchFrame({ type: 'bio' })"
        [class]="{'color-accent-darker': frame.type == 'bio'}" e2e-id="btnSwitchToBioFrame">
        person_outline
      </i>
      <i class="material-icons" (click)="switchFrame({ type: 'ranking' })"
        [class]="{'color-accent-darker': frame.type == 'ranking'}" e2e-id="btnSwitchToRankingFrame">
        equalizer
      </i>
    </div>
    <div class="frame" [ngSwitch]="frame.type">
      <app-chat *ngSwitchCase="'chat'" [frame$]="frame$" [gameInfo$]="gameInfo$" [account$]="account$">
      </app-chat>
      <app-bio *ngSwitchCase="'bio'" [frame$]="frame$" [gameInfo$]="gameInfo$" [account$]="account$"
        (gameInfoChangedEvent)="refetchGameInfo()" (newFrameEvent)="switchFrame($event)">
      </app-bio>
      <app-ranking *ngSwitchCase="'ranking'" [frame$]="frame$" [gameInfo$]="gameInfo$" [account$]="account$"
        [isHost]="isHost" (gameInfoRefetch)="refetchGameInfo()">
      </app-ranking>
    </div>
  </div>
</div>
