<div class="content" *ngIf="(frame$ | async) as frame">
  <div class="shortcuts-bar" *ngIf="(shortcuts$ | async) as shortcuts">
    <div class="shortcut" *ngFor="let shortcut of shortcuts" (click)="shortcut.onClick()" [title]="shortcut.title"
      [ngClass]="{'bg-secondary': shortcut.isActive(frame)}">
      <img *ngIf="shortcut.type == 'img'" [src]="shortcut.src" [alt]="shortcut.alt">
      {{shortcut.text}}
    </div>
    <button *ngIf="(hostGameInfo$ | async) as game" class="btn-inverse invite" (click)="onInviteClick(game)"
      [disabled]="game.players.length == game.maxPlayerCount">
      <i class="material-icons">add</i>
      Invite ({{game.maxPlayerCount - game.players.length}} left)
    </button>
  </div>
  <div class="main">
    <div class="nav-bar">
      <i class="material-icons" (click)="switchFrame({ type: 'chat' })"
        [class]="{'color-accent-darker': frame.type == 'chat'}">chat</i>
      <i class="material-icons" (click)="switchFrame({ type: 'bio' })"
        [class]="{'color-accent-darker': frame.type == 'bio'}">person_outline</i>
      <i class="material-icons" (click)="switchFrame({ type: 'ranking' })"
        [class]="{'color-accent-darker': frame.type == 'ranking'}">equalizer</i>
    </div>
    <div class="frame" [ngSwitch]="frame.type">
      <app-chat *ngSwitchCase="'chat'" [frame$]="frame$" [gameInfo$]="gameInfo$" [account$]="account$">
      </app-chat>
      <app-bio *ngSwitchCase="'bio'" [frame$]="frame$" [gameInfo$]="gameInfo$" [account$]="account$"
        (gameInfoChangedEvent)="onGameInfoChanged()" (newFrameEvent)="switchFrame($event)">
      </app-bio>
    </div>
  </div>
</div>
