<div class="content" *ngIf="(gameInfo$ | async) as game">
  <div class="header">
    <h1>Host Controls</h1>
    <div class="time-left">
      <div class="loading color-muted" *ngIf="loadingGame || loadingPlayers || loadingChats">
        <mat-spinner [diameter]="20"></mat-spinner>
        Refreshing...
      </div>
      {{getGameTimeLeftStr(game)}}
    </div>
  </div>
  <div class="main">
    <div class="actions"></div>
    <div class="players">
      <button class="btn-inverse invite" (click)="onInviteClick(game)"
        [disabled]="game.players.length == game.maxPlayerCount">
        <i class="material-icons">add</i>
        Invite ({{game.maxPlayerCount - game.players.length}} left)
      </button>
      <button class="btn-primary w3-animate-opacity player" *ngFor="let player of game.players"
        [routerLink]="['./room', player._id]" title="View player">
        <img class="photo" *ngIf="player.photo" [src]="player.photo.uri" [alt]="player.photo.alt" />
        <i class="material-icons photo" *ngIf="!player.photo">account_circle</i>
        {{player.name}}
      </button>
    </div>
  </div>
  <h2>Active Chats</h2>
  <button class="btn-primary chat w3-animate-opacity" *ngFor="let chat of game.chats"
    [routerLink]="['./chat', chat._id]" title="View chat">
    {{chat.name}}
    <div class="chat-players">
      <span *ngFor="let chatPlayer of chat.players" [title]="chatPlayer.name">
        <img class="photo" *ngIf="chatPlayer.photo" [src]="chatPlayer.photo.uri" [alt]="chatPlayer.photo.alt" />
        <i class="material-icons photo" *ngIf="!chatPlayer.photo">account_circle</i>
      </span>
    </div>
  </button>
</div>
