<div #content class="content" *ngIf="(account$ | async) as account">
  <div class="fold">
    <img src="assets/site-logo.png" alt="TheCurve logo">
    <h1>
      Welcome back to TheCurve,<br />
      {{ playerName$ | async }}
    </h1>
    <div class="new-game">
      <button class="btn-accent" [disabled]="loadingRecentPlayerGames || isHostingAGame" (click)="onStartClicked()"
        [title]="isHostingAGame ? 'You may only host 1 game at a time' : ''">
        New Game
      </button>
    </div>
  </div>
  <div class="games-row-container">
    <div class="games-row">
      <div class="header">
        <h2>Your Games</h2>
        <div class="loading color-muted" *ngIf="loadingRecentPlayerGames">
          <mat-spinner [diameter]="20"></mat-spinner>
          Refreshing...
        </div>
      </div>
      <app-carousel [carousel$]="carousel$"></app-carousel>
      <div class="games-row-bubble bg-accent w3-animate-opacity" *ngIf="(focusedGame$ | async) as gameBubble">
        <div class="games-row-bubble-date">{{getGameBubbleDateStr(bubble.game.startTime)}}</div>
        <div class="games-row-bubble-name">{{bubble.name}}</div>
        <div class="games-row-bubble-time">
          {{util.getGameTimeLeftStr(bubble.game.endTime, bubble.game.pausedTime)}}
        </div>
        <div class="games-row-bubble-actions">
          <button class="games-row-bubble-actions-resume material-icons" (click)="resumeGame(bubble.game._id)"
            title="Resume game">
            play_arrow
          </button>
          <button class="games-row-bubble-actions-stop material-icons"
            *ngIf="bubble.game.hostAccount._id == account._id" (click)="stopGame(bubble.game._id)" title="Stop game">
            stop
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="socials">
    <h2>Follow TheCurve on our Socials</h2>
    <!-- <div class="socials"></div> -->
  </div>
</div>
<div class="new-game-popup" *ngIf="newGameForm">
  <div>
    <button class="btn-primary" type="submit" (click)="closeNewGameForm()">
      Cancel
    </button>
  </div>
  <form [formGroup]="newGameForm" (ngSubmit)="submitNewGameForm()">
    <label class="input">
      Number of people
      <input type="number" formControlName="numPlayers"
        [class]="{'invalid-input': !newGameForm.get('numPlayers').valid}">
      <span class="color-red" *ngIf="!newGameForm.get('numPlayers').valid">
        Games require a minimum of 4 people (1 host and 3 players).<br />
        Games also can't have more than 12 players.
      </span>
      <div class="label-floor"></div>
    </label>
    <label class="input">
      Your nickname
      <input type="text" formControlName="hostName" [class]="{'invalid-input': !newGameForm.get('hostName').valid}">
      <span class="color-red" *ngIf="!newGameForm.get('hostName').valid">
        You must provide a nickname for yourself & it cannot be longer than 20 characters.
      </span>
      <div class="label-floor"></div>
    </label>
    <button class="btn-accent" type="submit" [disabled]="!newGameForm.valid" e2e-id="btnStartGame">
      Start game
    </button>
    <span class="color-red" *ngIf="!newGameForm.valid">
      Some values you entered are invalid. Please check above.
    </span>
  </form>
</div>
