@use "../../../styles/vars";
@use "../../../styles/host";

.content {
  padding: 0;
}
.content.clipped {
  height: 100vh;
  overflow: hidden;
}

.fold,
.games-row,
.socials {
  padding: vars.$page-content-vert-padding vars.$page-content-horz-padding;
}

.fold {
  display: flex;
  min-height: 90vh;
  padding: 2rem;
  position: relative;
  border-bottom: 3px solid vars.$color-secondary;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../../assets/landing_fold_bg.png");
  background-size: cover;
  background-position: center;

  img {
    width: 20rem;
    margin-bottom: 2rem;
    position: absolute;
    top: 1rem;
    object-fit: contain;
    object-position: center;
  }

  h1,
  .new-game {
    text-align: center;
  }

  .new-game {
    margin-top: 2rem;

    button {
      background-color: vars.$color-white;
    }
  }
}

.games-row {
  display: flex;
  margin: vars.$page-content-horz-padding;
  flex-direction: column;
  align-items: center;
  background-color: #3254ec;

  .header {
    display: flex;
    position: relative;
    align-items: center;

    .loading {
      display: flex;
      margin-left: 1rem;
      font-size: 0.875rem;
      position: absolute;
      right: 0;

      mat-spinner {
        margin-right: 0.5rem;
      }
    }
  }

  .games-row-bubble {
    display: flex;
    height: 6.25rem;
    width: 12.5rem;
    padding: 1rem;
    border-radius: 0.375rem;
    flex-direction: column;

    button {
      display: flex;
      width: 6rem;
      height: 6rem;
      padding: 1rem;
      border-radius: 100%;
      justify-content: center;
      align-items: center;
      background-color: vars.$color-purple;
      cursor: pointer;
    }

    button:disabled {
      border: 1px solid vars.$color-purple;
      background-color: vars.$bg-muted;
      color: vars.$color-muted;
    }

    button + button {
      margin-left: 1rem;
    }

    .games-row-bubble-date,
    .games-row-bubble-time {
      font-size: 0.8rem;
    }

    .games-row-bubble-name {
      font-weight: 600;
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-game-popup {
  display: flex;
  width: 100%;
  height: 100%;
  padding: vars.$page-content-vert-padding vars.$page-content-horz-padding;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  background-color: vars.$bg-secondary;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }
}
