@use "../../../../styles/host";
@use "../../../../styles/vars";

:host {
  display: flex;
  flex-direction: column;
}

.loading {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .mat-progress-spinner {
    margin-right: 1rem;
  }
}

.messages {
  display: flex;
  flex-grow: 1;
  margin-bottom: 1rem;
  flex-direction: column;
  justify-content: flex-end;

  .message + .message {
    margin-top: 1rem;
  }
}

.send-box {
  display: flex;
  border-radius: 0.375rem;

  input:focus {
    border: 1px solid vars.$color-accent-darker;
  }
}
