/* 3rd party css */
@use "_w3.min.css";
@use "_bootstrap.min.css";

/* custom css */
@use "_anim";
@use "_vars";

/* ================== global selectors ===================== */

/* phones */
html {
  font-size: 16px;
}

/* tablets & phones in landscape */
@media only screen and (min-width: 760px) {
  html {
    font-size: 14px;
  }
}

/* laptops */
@media only screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

/* 2k+ screens */
@media only screen and (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

/* slightly > 2k+ screens */
@media only screen and (min-width: 1880px) {
  html {
    font-size: 20px;
  }
}

/* 4k+ screens */
@media only screen and (min-width: 2560px) {
  html {
    font-size: 22px;
  }
}

* {
  font-family: "Open Sans", "Montserrat", sans-serif;
  font-size: 1rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: vars.$color-primary;
}

a {
  text-decoration: none !important;
}

app-root {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
}

/* =============== tag selectors ====================== */

body {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  margin: 0px;
  flex-direction: column;

  .background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-position: 100% 0%;
    background-attachment: fixed;
    opacity: 0.3;
  }
}

button,
.btn,
input[type="button"] {
  display: inline-flex;
  width: fit-content;
  padding: 0.4375rem 0.625rem;
  align-items: center;
  border: none;
  border-radius: 0.1875rem;
  background-color: transparent;
  color: vars.$color-primary;
  cursor: pointer !important;
}

label > button,
label > .btn,
label > input[type="button"] {
  padding-top: 0.1875rem !important;
  padding-bottom: 0.1875rem !important;
}

button.pressed,
.btn.pressed,
input[type="button"].pressed {
  background-color: vars.$color-yellow;
  color: vars.$color-inverse;
}

button i,
.btn i,
input[type="button"] i {
  margin-right: 0.3125rem;
  font-size: 1.25rem !important;
  cursor: pointer !important;
}

button:disabled,
.btn:disabled,
input[type="button"]:disabled {
  background-color: vars.$bg-secondary;
  color: vars.$color-secondary;
}

button:disabled:hover,
.btn:disabled:hover,
input[type="button"]:disabled:hover {
  background-color: vars.$bg-secondary !important;
  color: vars.$color-secondary !important;
}

code {
  padding: 0.1875rem 0.3125rem;
  background-color: vars.$bg-secondary;
  border-radius: 0.125rem;
}

h1,
h2,
h3,
h4 {
  color: vars.$color-white;
}

h1 {
  margin-top: 0.625rem;
  margin-bottom: 0.3125rem;
  font: 700 28px vars.$h1-font-families !important;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.3125rem;
  font: 600 1.5rem "Montserrat", "Gotham Light Regular", sans-serif !important;
}

h3 {
  min-width: 100%;
  margin-top: 0px !important;
  margin-bottom: 0.3125rem !important;
  font: vars.$h3-font !important;
}

h4 {
  margin: 0;
  font-size: 1.125rem !important;
}

i {
  font-size: 1rem !important;
  color: inherit;
}

input {
  padding: 0.625rem 0.5rem;
  background-color: vars.$bg-secondary-light;
  border: 0px;
  color: vars.$color-primary;
}

li {
  line-height: 1.375rem;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
}

p + h2 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

section {
  margin-bottom: 40px;
}

table td {
  padding: 5px;
}

table .error,
form .error {
  color: #ff0000;
}

ng-include {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
}

/* ================== page selectors ===================== */

.page {
  display: flex;
  flex-grow: 1;
  width: 100vw;
  flex-direction: column;
  overflow-y: auto;

  .page-title {
    padding: vars.$page-title-padding;
    background-color: vars.$bg-accent;
  }

  .content {
    display: flex;
    flex-grow: 1;
    padding: vars.$page-content-vert-padding vars.$page-content-horz-padding;
    flex-direction: column;
    background-color: vars.$bg-primary;
  }
}

/* =================== themeing ====================== */

.bg-accent {
  background-color: vars.$bg-accent !important;
}

.bg-accent-light {
  background-color: vars.$bg-accent-light;
}

.bg-primary {
  background-color: vars.$bg-primary !important;
}

.bg-secondary {
  background-color: vars.$bg-secondary !important;
}

.bg-secondary-light {
  background-color: vars.$bg-secondary-light;
}

.bg-secondary-strong {
  background-color: vars.$bg-secondary-strong;
}

.border-accent {
  border: 1px solid vars.$color-accent !important;
}

.border-red {
  border: 1px solid vars.$color-red;
}

.border-secondary {
  border: 1px solid vars.$bg-secondary !important;
}

.color-accent {
  color: vars.$color-accent !important;
}

.color-inverse {
  color: vars.$color-inverse !important;
}

.color-muted {
  color: vars.$color-muted;
}

.color-secondary {
  color: vars.$color-secondary;
}

.color-primary {
  color: vars.$color-primary !important;
}

.color-black {
  color: vars.$color-white;
}

.color-purple {
  color: vars.$color-purple;
}

.color-red {
  color: vars.$color-red;
}

.color-orange {
  color: vars.$color-orange;
}

.color-yellow {
  color: vars.$color-yellow;
}

.color-accent-darker {
  color: vars.$color-accent-darker;
}

/* ================= component styling ==================== */

.btn-primary {
  padding: 0.4375rem 0.625rem;
  border: 1px solid vars.$color-white;
  color: vars.$color-primary;
}

.btn-primary:hover,
.btn-primary:hover > i {
  background-color: vars.$color-primary !important;
  color: vars.$color-inverse;
}

.btn-secondary:hover,
.btn-secondary:hover > i {
  background-color: vars.$bg-muted !important;
}

.btn-accent {
  padding: 0.375rem 0.625rem;
  border: 1px solid vars.$color-accent;
  background-color: vars.$color-accent;
  color: vars.$color-inverse;
}

.btn-accent:hover {
  background-color: vars.$color-yellow !important;
  color: vars.$color-inverse;
}

.btn-inverse {
  padding: 0.4375rem 0.625rem;
  background-color: vars.$color-yellow;
  border: 1px solid vars.$color-yellow;
  color: vars.$color-inverse;
}

.btn-inverse:hover,
.btn-inverse:hover > i {
  background-color: vars.$color-accent;
  color: vars.$color-inverse;
}

.divider {
  width: calc(100% - 20px);
  height: 0.0625rem;
  margin: 0.625rem;
  background-color: vars.$bg-muted;
}

.vertical-divider {
  width: 0.0625rem;
  margin: 0 1rem;
  background-color: vars.$bg-muted;
}

.input {
  display: flex;
  margin-bottom: 1.25rem;
  padding-top: 2px;
  flex-direction: column;

  input {
    height: 100%;
    border-radius: 0.375rem;
  }

  input:focus {
    outline: none;
  }

  .label-floor {
    background-color: #b2b2b2;
  }

  input:focus + .label-floor {
    margin-top: 3px;
    height: 2px;
    background-color: vars.$color-accent;
  }

  .invalid-input + .label-floor,
  .invalid-input + span[class="color-red"] + .label-floor {
    background-color: red;
  }
}

.label-floor {
  min-width: 100%;
  height: 1px;
  margin-top: 5px;
  background-color: #b2b2b2;
}

/* ================= effects ====================== */

.blur {
  filter: blur(5px);
}

.drop-shadow {
  box-shadow: vars.$drop-shadow;
}

.drop-shadow-light {
  box-shadow: vars.$drop-shadow-light;
}

.drop-shadow-strong {
  box-shadow: vars.$drop-shadow-strong;
}

.invisible {
  visibility: hidden;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-bold {
  font-weight: 600;
}

.text-shaddow {
  text-shadow: 2px 2px #424242;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =============================================== */

.context-menu-item {
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: 0.875rem;
  cursor: pointer;
}

.context-menu-item:hover {
  background-color: vars.$bg-secondary;
}

.context-menu-item i {
  margin-left: 5px;
  margin-right: 10px;
  font-size: 1.375rem;
}

/* =============================================== */

.status-box {
  display: flex;
  height: 100%;
  padding: 20px;
  flex-grow: 1;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .loading {
    color: vars.$color-accent;
  }

  .error {
    color: #f44336;
  }
}

.status-box.empty {
  font-size: 0.875rem;
  color: #b2b2b2;
}

.status-box.empty img {
  width: 58px;
  height: 58px;
}

.status-box.empty .left-justify {
  margin-right: 60%;
  align-items: flex-start;
}

.status-box.empty .left-justify img {
  margin-right: 15px;
}
