@use "../../../../styles/vars";
@use "../../../../styles/host";

.header {
  display: flex;
  margin-bottom: 2.5rem;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: "Parisienne" vars.$h1-font-families !important;
  }

  .time-left {
    display: flex;
    align-items: center;

    .loading {
      display: flex;
      margin-right: 1rem;
      font-size: 0.875rem;

      mat-spinner {
        margin-right: 0.5rem;
      }
    }
  }
}

.main {
  display: flex;

  .actions {
    flex-grow: 1;
  }

  .players {
    display: flex;
    margin-left: 3rem;
    flex-direction: column;

    .invite {
      margin-bottom: 2rem;
    }
  }
}
